name: Update function docs

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        working-directory: ./documentation
        run: |
          pip install -r requirements.txt

      - name: Generate publications rst file
        working-directory: ./documentation/source/sphinxext
        run: |
          python GenerateCitationsRST.py

      - name: Update packages
        working-directory: ./documentation/source
        run: |
          python ./sphinxext/copy_files.py

      - name: Generate functions rst files
        working-directory: ./documentation/source/modules
        run: |
          python ./GetRSTfiles.py

      - name: Generate documentation
        working-directory: ./documentation
        run: |
          make html

      - name: Deploy full documentation site
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./documentation/build/html
          publish_branch: gh-pages
          destination_dir: stable
          keep_files: false
          commit_message: "update Function Docs (Automatic Workflow)"
